# Auto detect text files and perform LF normalization
* text=auto

# Improve accuracy of GitHub's Linguist-powered language statistics
seagull/tests/content/* linguist-vendored
seagull/tests/output/* linguist-vendored
seagull/tests/theme_overrides/* linguist-vendored
seagull/themes/simple/templates/*.html linguist-language=Jinja
samples/* linguist-vendored
*.html linguist-vendored
