{% extends "base.html" %}
{% block content %}
    {% block content_title %}
        <h2>{{ _("All articles") }}</h2>
    {% endblock %}

    {% if obj.content %}
        {{ obj.content }}
    {% endif %}

    {# TODO pagination #}
    {#    {% for article in articles_page.object_list %}#}
    {% for article in articles %}
        <article>
            <header><h2><a href="{{ siteurl }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2></header>
            <section>{{ article.summary }}</section>
            <footer>
                <p>{{ _("Published:") }}
                    <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                </p>
                <address>{{ _("By") }}
                    {% for author in article.authors %}
                        <a href="{{ siteurl }}/{{ author.url }}">{{ author.name }}</a>
                    {% endfor %}
                </address>
            </footer>
        </article>
    {% endfor %}

    {#    {% if articles_page.has_other_pages() %}#}
    {#        {% include 'pagination.html' %}#}
    {#    {% endif %}#}

{% endblock content %}
