{% if default_pagination %}
    {% set first_page = articles_paginator[0] %}
    {% set last_page = articles_paginator[-1] %}
    <nav>
        <ul>
            {% if articles_page.previous_page is not none %}
                <li><a href="{{ siteurl }}/{{ first_page.url }}">&Lang;</a></li>
                <li><a href="{{ siteurl }}/{{ articles_page.previous_page.url }}">&lang;</a></li>
            {% endif %}
            <li>Page {{ articles_page.number }} / {{ articles_paginator|length }}</li>
            {% if articles_page.next_page is not none %}
                <li><a href="{{ siteurl }}/{{ articles_page.next_page.url }}">&rang;</a></li>
                <li><a href="{{ siteurl }}/{{ last_page.url }}">&Rang;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
